@import '../../SharedStyles/index.scss';

.button-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .button-row-child {
    border-radius: 50%;
    border: 1px solid transparent;
    margin: $small-spacing;
    height: 80px;
    width: 80px;
  }
}

.button-row.split {
  justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .button-row {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;

    .button-row-child {
      border-radius: 8px;
      height: 90px;
      margin: 0;
      width: 90px;
    }
  }
}
