@import '../../SharedStyles/index.scss';

.button-row {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: scroll;

  .button-row-child {
    border-radius: 50%;
    border: 1px solid transparent;
    margin: $tiny-spacing;
    height: 90px;
    width: 90px;
  }
}

.button-row.split {
  padding: $tiny-spacing;
  justify-content: space-around;
}

@media screen and (orientation: portrait) {
  .button-row {
    .button-row-child {
      margin: 4px;
    }
  }
}
