@import '../../../SharedStyles/index.scss';

.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $small-spacing 0;
}

.table-cell {
  padding-right: $small-spacing;
  padding-bottom: $tiny-spacing;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  i {
    height: 25px;
    width: 25px;
    padding-left: $tiny-spacing;
    min-width: 25px;
  }
}

.v-col1 {
  width: 80px;
  flex-shrink: 0;
  flex-grow: 0;
}

.v-col2 {
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0;
  width: 80px;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.v-col3 {
  flex-grow: 0;
  width: 120px;
  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
  }
}
