@import '../../SharedStyles/index.scss';

.search-results {
  background-color: $transluscentColor;
  box-sizing: border-box;
  height: fit-content;
  position: absolute;
  top: $search-bar-height;
  width: 100%;
}

@media screen and (orientation: portrait) {
  .search-results {
    // top: -$search-bar-height;
  }
}
