@import '../../../SharedStyles/index.scss';

.explore-button {
  display: inline-block;
  margin-left: ($sidebar-width / 2) - ($sidebar-button-width / 2);
  margin-top: -($sidebar-button-width / 2);
}

@media screen and (orientation: portrait) {
  .explore-button {
    display: initial;
    margin: initial;
  }
}
