@import '../../../SharedStyles/index.scss';

.explore-button {
  position: absolute;
  left: ($sidebar-width / 2) - ($sidebar-button-width / 2);
  top: $infoHeaderHeight - ($sidebar-button-width / 2);
}

@media screen and (orientation: portrait) {
  .explore-button {
    display: flex;
    margin: initial;
    position: initial;
    top: initial;
    left: initial;
  }
}
