@import '../../SharedStyles/index.scss';

.layerInformationBox {
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
  height: 100%;
  font-size: 15px;
}

@media screen and (orientation: portrait) {
  $first-column-width: 300px;

  .layerInformationBox {
    font-size: 16px;
  }
}
