@import '../../SharedStyles/index.scss';

.layerInformationBox {
  box-sizing: border-box;
  overflow: scroll;

  .information-box {
    padding: $small-spacing 0 $small-spacing 0;
  }
}

@media screen and (orientation: portrait) {
  $first-column-width: 300px;

  .layerInformationBox {
    overflow: scroll;
  }
}
