@import '../SharedStyles/index.scss';

#sidebar {
  position: relative;

  .sidebar-view-container {
    height: 100%;
    position: relative;
    overflow-y: hidden;

    > .sidebar-wrapper {
      height: 100%;
    }
  }

  background-color: $transluscentColor;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-$sidebarWidth);
  transition: transform 0.3s ease-in-out;
  width: $sidebarWidth;
  z-index: 1050;

  .thin-horizontal-row {
    width: 80%;
    margin: $tiny-spacing auto;
    border-bottom: 1px dashed black;
    box-shadow: 0 2px 4px 1px gray;
  }
}

@media screen and (orientation: portrait) {
  #sidebar {
    transform: translateX(0);
    transform: translateY(calc(100vh));
    width: 100vw;
  }
}
