@import '../../SharedStyles/index.scss';
$legend-height: 260px;
$legend-width: 140px;
$legend-width-mobile: 100px;
$legend-icon-size: 20px;

.map-legend {
  background-color: transparent;
  border-radius: 2px;

  box-sizing: border-box;
  border: 2px solid rgba(55, 55, 55, 0.3);
  bottom: 80px;
  display: block;
  flex-direction: column;
  height: 33px;
  justify-content: flex-start;
  position: absolute;
  right: 10px;
  transition: height 0.2s linear, width 0.2s linear;
  width: 33px;
  z-index: 500;
}

.legend-info {
  text-align: center;
}

.legend-label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.legend-label {
  font-size: 8px;
  text-align: center;
  flex-shrink: 0;
}

.legend-button {
  flex-shrink: 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.legend-open {
  height: 20px;
}

.legend-close {
  background-color: white;

  border-radius: 2px;
  box-sizing: border-box;

  height: 100%;
}

.legend-scope-toggle {
  align-items: center;
  box-shadow: 0px 2px 2px 0 gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;

  .legend-button {
    background-color: $primaryColor;
    border: 1px inset $DARKGRAY;
  }

  .legend-button:active {
    background-color: $tertiaryColor;
  }

  .disabled {
    border: 1px outset $DARKGRAY;
    background-color: WHITE;
  }

  div {
    border: 1px solid $primaryColor;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    flex-basis: 50%;
    height: 100%;
    text-align: center;
  }
}

.legend-button {
  background-color: white;
}

.legend-wrapper {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 40px);
}

.legend-title {
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 12px;
  text-align: center;
}

.legend-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(100% - #{60px});
  justify-content: flex-start;
  overflow: hidden;
  padding: $tiny-spacing;
  width: calc(100% - #{$tiny-spacing});
}

.legend-scale-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.legend-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.scale-label {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  text-align: right;
  width: calc(100% - #{$legend-icon-size});
}

.scale-marker {
  background-color: red;
  border: 1px solid black;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: $legend-icon-size;
  width: $legend-icon-size;
}

div.open-legend {
  height: $legend-height;
  width: $legend-width;
}

@media screen and (orientation: portrait) {
  .map-legend {
    top: 80px;
  }

  .scale-marker {
    height: 14px;
    width: 14px;
  }

  .scale-label {
    font-size: 11px;
  }

  div.open-legend {
    height: 200px;
    width: $legend-width-mobile;
  }
}
