@import '../../SharedStyles/index.scss';
$legend-height: 260px;
$legend-width: 140px;
$legend-width-mobile: 140px;
$legend-icon-size: 20px;

.map-legend {
  // align-items: center;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 2px 0 8px gray;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  position: absolute;
  right: 40px;
  transition: height 0.3s linear, width 0.1s linear;
  width: 20px;
  z-index: 500;
}

.legend-button {
  flex-shrink: 0;
  cursor: pointer;
  height: 100%;
  width: 20px;
}

.legend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.legend-title {
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.legend-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(100% - #{60px});
  justify-content: flex-start;
  overflow: hidden;
  padding: $tiny-spacing;
  width: calc(100% - #{$tiny-spacing});
}

.legend-scale-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.legend-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.scale-label {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  whitespace: nowrap;
  width: calc(100% - #{$legend-icon-size});
}

.scale-marker {
  background-color: red;
  border: 1px solid black;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: $legend-icon-size;
  width: $legend-icon-size;
}

div.open-legend {
  height: $legend-height;
  width: $legend-width;
}

@media screen and (orientation: portrait) {
  .map-legend {
    top: 80px;
    right: 12px;
  }
}
