@import '../../SharedStyles/index.scss';

.search-result-row {
  align-items: center;
  box-shadow: 0 2px 2px 0 gray;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
  background-color: white;
  padding: $mini-spacing;
  margin: $mini-spacing;
  i {
    margin-right: $tiny-spacing;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.search-result-row:hover {
  box-shadow: 0 2px 0 0 $secondaryColor;
}
