@import '../../../SharedStyles/index.scss';

$toggle-button-width: 80px;

.toggle-button-container {
  flex-basis: 0%;
}

.toggle-button {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
  box-shadow: inset 0 0 40px 20px white;
  height: $toggle-button-width;
  position: absolute;
  width: $toggle-button-width;
  z-index: 100;
}

.show-button:hover {
  box-shadow: 0 0 20px 10px white;

  border-bottom: 4px inset black;
}

.show-button:active {
  box-shadow: inset 0 0 40px 10px lightgray;
  border-bottom: 1px outset lightgray;
}

.hide-button:hover {
  box-shadow: 0 0 10px 4px $primaryIconColor;
}

.hide-button:active {
  box-shadow: inset 0 0 20px 4px $primaryIconColor;
}

.hide-button {
  right: ($sidebar-width / 2) - $medium-spacing;
  top: 0;
  width: $toggle-button-width;
}

.show-button {
  top: 0;
  right: -$toggle-button-width - $medium-spacing;
}

@media screen and (orientation: portrait) {
  .toggle-button-container {
    flex-basis: 50%;
  }

  .hide-button {
    background-color: inherit;
    border-radius: inherit;
    position: relative;
    right: auto;
    top: auto;
  }

  .show-button {
    border-radius: 8px 8px 0 0;
    height: 60px;
    top: -60px;
    right: calc(50vw - #{$toggle-button-width / 2});
  }
}
