@import '../../../SharedStyles/index.scss';

$toggle-button-width: 20px;

.toggle-button-container {
  flex-basis: 0%;
}

.toggle-button {
  background-color: white;
  border-radius: 0 2px 2px 0;

  border: 1px solid white;
  border-bottom: 4px solid white;
  box-shadow: 4px 0px 20px 4px white;
  box-sizing: border-box;
  height: $medium-spacing;
  position: absolute;
  width: $toggle-button-width;
  z-index: 100;
}

.show-button {
  top: $tiny-spacing;
  right: -$toggle-button-width;
}

.show-button:hover {
  box-shadow: 16px 0px 20px 1px $primaryIconColor;
}

.show-button:active {
  box-shadow: 18px 0 24px 1px $primaryIconColor;
}

.hide-button:hover {
  box-shadow: 16px 0px 20px 1px $primaryIconColor;
}

.hide-button:active {
  box-shadow: 18px 0 24px 1px $primaryIconColor;
}

.hide-button {
  right: -$toggle-button-width;
  top: $tiny-spacing;
  width: $toggle-button-width;
}

@media screen and (orientation: portrait) {
  .toggle-button-container {
    flex-basis: 50%;
  }

  .hide-button {
    background-color: inherit;
    border-radius: inherit;
    position: relative;
    right: auto;
    top: auto;
  }

  .show-button {
    border-radius: 8px 8px 0 0;
    height: 60px;
    top: -60px;
    right: calc(50vw - #{$toggle-button-width / 2});
  }
}
