@import '../../SharedStyles/index.scss';

.headerBar {
  background-color: white;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: $infoHeaderHeight;
  padding: $small-spacing;

  .headerSubTitle {
    align-items: center;
    display: flex;
    flex-direction: row;

    span:first-child {
      align-self: stretch;
      flex-grow: 0;
      width: $first-column-width;
    }

    span:nth-child(2) {
      align-self: stretch;
      flex-grow: 1;
      padding-left: $tiny-spacing;
    }
  }
}

@media screen and (orientation: portrait) {
  .headerBar {
    justify-content: flex-end;
    height: 120px;
    margin-bottom: 0;
    padding-top: $small-spacing;
    padding-bottom: $tiny-spacing;

    .headerSubTitle {
      span:first-child {
        width: $first-column-width;
      }
    }
  }
}
