@import '../../SharedStyles/index.scss';

.headerBar {
  background-color: $primaryColor;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $infoHeaderHeight;
  padding: $small-spacing;
  overflow: hidden;

  .headerSubTitle {
    align-items: center;
    display: flex;
    flex-direction: row;

    span:first-child {
      align-self: stretch;
      flex-grow: 0;
      width: $first-column-width;
    }

    span:nth-child(2) {
      align-self: stretch;
      flex-grow: 1;
      padding-left: $tiny-spacing;
    }
  }
}

@media screen and (orientation: portrait) {
  div.headerBar {
    height: $infoHeaderHeightMobile;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: $tiny-spacing;

    .headerSubTitle {
      span:first-child {
        width: $first-column-width;
      }
    }
  }
}
