@import '../../../SharedStyles/index.scss';

.icon-header {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  min-width: 0;
  text-align: center;

  i {
    svg {
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
  }
}
