@import '../../../SharedStyles/index.scss';
.icon-row {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;

  i {
    height: $iconHeight;
    width: $iconHeight;
    flex-shrink: 0;
    margin-right: $small-spacing;
  }

  p {
    line-height: 24px;
  }
}

.icon-row-text-align {
  padding-top: 0;
  padding-left: $iconHeight + $tiny-spacing;
}

.icon-end {
  i {
    padding-left: $tiny-spacing;
  }
}

.active-icon-row {
  path {
    fill: $primaryColor;
  }

  div {
    color: $primaryColor;
    text-decoration: none;
  }
}

@media screen and (orientation: portrait) {
  .icon-row {
    label {
      width: 50vw;
      min-width: 300px;
    }
  }
}
