@import '../../../SharedStyles/index.scss';
.icon-row {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  padding: $tiny-spacing 0 $tiny-spacing 0;

  p {
    font-size: 14px;
    line-height: 20px;
  }

  i {
    height: $iconHeight;
    width: $iconHeight;
    flex-shrink: 0;
    margin-right: $tiny-spacing;
  }
}

.icon-row-text-align {
  padding-top: 0;
  padding-left: $small-spacing + $iconHeight + $tiny-spacing;
}

.icon-end {
  i {
    padding-left: $tiny-spacing;
  }
}

@media screen and (orientation: portrait) {
  .icon-row {
    label {
      width: 50vw;
      min-width: 300px;
    }
  }
}
