@import '../../SharedStyles/index.scss';
@import '../../SharedStyles/buttons.scss';

.button-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-bar {
  background-color: $primaryBackgroundDark;
  height: $controlBarHeight;
}

.control-button {
  box-sizing: border-box;
  color: white;
  height: $controlBarHeight;
  flex-basis: 50%;
  padding: $tiny-spacing;
}
