@import '../../SharedStyles/index.scss';

.menu-link {
  * {
    font-family: 'Hind-Light';
    font-size: 18px;
  }

  i {
    height: 20px;
    width: 20px;
  }

  align-items: flex-start;
  color: $linkColor;
  display: flex;
  flex-direction: row;
  line-height: 200%;
  justify-content: flex-start;
  padding: $tiny-spacing $small-spacing;
  width: 100%;
}

.menu-link:hover,
.menu-link:active {
  color: $tertiaryColor;
}
