@import '../../SharedStyles/index.scss';

.building-layer-button {
  position: absolute;
  left: ($sidebar-width / 2) - ($sidebar-button-width / 2);
  top: $infoHeaderHeight;
  z-index: 1;
}

@media screen and (orientation: portrait) {
  .building-layer-button {
    display: flex;
    margin: initial;
    position: initial;
    top: initial;
    left: initial;
  }
}
