@import '../../../SharedStyles/index';

.content-sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebarWidth;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

.content-sidebar-button {
  background-color: $secondaryColor;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.5s ease-in;
}

@media screen and (orientation: portrait) {
  .content-sidebar {
    width: 100%;
  }
}
