@import '../../../SharedStyles/index.scss';

.switch-view-fetch-button {
  box-sizing: border-box;
  cursor: pointer;
  positiom: relative;
  width: 100%;
  padding: $tiny-spacing 0;

  * {
    cursor: pointer;
  }
}
