@import '../../../SharedStyles/index.scss';

.icon-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  i {
    width: 40px;
    height: 40px;
  }

  label {
    font-size: 11px;
    line-height: 160%;
    text-align: center;
  }
}

.active-icon-profile {
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 1px solid $tertiaryColor;
  border-bottom: 1px solid $tertiaryColor;

  path {
    fill: $tertiaryColor;
  }
}

.icon-profile.small {
  i {
    width: 30px;
    height: 30px;
  }

  label {
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    width: 95%;
  }
}

@media screen and (orientation: portrait) {
  .icon-profile {
    i {
      width: 40px;
      height: 40px;
    }

    label {
      font-size: 11px;
      line-height: 130%;
      text-align: center;
    }
  }
}
