@import '../../SharedStyles/index.scss';

$link-row-height: 40px;

.landing-spacer {
  box-sizing: border-box;
  padding: $large-spacing 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    height: 160px;
  }
}

.landing-header-bar {
  background-color: $primaryColor;
  display: block;
  height: $landingHeaderBarHeight;
  width: 100vw;
}

.landing-header-bar-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.landing-header-link-menu {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: $link-row-height;
  justify-content: flex-start;
  padding-left: $huge-spacing;
  width: 100%;

  a {
    color: white;
    font-size: 16px;
    margin: 0 $small-spacing;
  }
}

.landing-header-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.landing-header-title {
  color: white;
  font-size: 46px;
}

.landing-main-picture-wrapper {
  display: block;
  margin: 0 auto;
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 60vw;
  }
}

.landing-update-table {
  box-sizing: border-box;
  min-width: 800px;
  margin: 0 auto;
  background: $secondaryColor;
  padding: $medium-spacing;
  color: white;
}

.landing-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-table-header {
  text-align: left;
  border-bottom: 1px dashed white;
}

.landing-table-header,
.landing-table-cell {
  padding: $tiny-spacing;
  width: 160px;
  border-right: 1px dashed white;
  color: white;
}

.landing-table-cell {
  text-align: right;
}

.landing-footer {
  background-color: $svg-dark-color;

  height: $landingFooterHeight;
}

@media screen and (orientation: portrait) {
  .content-title {
    h5 {
      margin: $small-spacing 0;
    }
  }

  .landing-header-title {
    text-align: center;
  }

  .landing-header-link-menu {
    padding-left: $tiny-spacing;
    flex-wrap: wrap;
    align-items: center;
  }

  .landing-main-picture-wrapper {
    img {
      width: 100vw;
    }
  }

  .landing-update-table {
    min-width: initial;
    width: 100vw;
  }

  .landing-table-header {
    border-bottom: 1px dashed transparent;
  }

  .landing-table-cell {
    border-right: 1px dashed transparent;
    text-align: right;
  }
}
