@import '../../../SharedStyles/index.scss';

.control-row {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $tiny-spacing;

  .control-row-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .control-row-child:last-child {
    justify-content: flex-end;
  }

  .control-row-child:first-child {
    justify-content: flex-start;
  }
}

@media screen and (orientation: portrait) {
  .control-row {
    padding-top: 0;
  }
}
