@import '../../../SharedStyles/index';

.story-content {
  h5 {
    margin: 40% 0 20% 0;
  }

  .text-content {
    margin-bottom: 20%;
  }
}

@media screen and (orientation: portrait) {
  .text-content {
    h5 {
      margin: 30% 0;
      text-align: center;
    }
    width: 100%;
    padding: $medium-spacing;

    .content-body {
      margin-left: 0;
    }

    p {
      font-size: 17px;
      line-height: 240%;
    }
  }
}
