@import './index.scss';

.button {
  box-sizing: border-box;
  cursor: pointer;
  outline-width: 0;
}

.button:focus {
  outline: none;
}

.button:active {
  outline: none;
}

.round {
  border-radius: 50%;
}

.round-shadow {
  box-sizing: border-box;
  border: 1px solid transparent;
}

.round-shadow:hover {
  border: 1px dotted black;
  box-shadow: 0 0 20px 2px lightgray;
}

.round-shadow:active {
  border: 1px inset black;
  box-shadow: 0 0 4px 2px gray;
}

.hover-shadow {
  box-sizing: border-box;
}

.hover-shadow:hover {
  box-shadow: 0 0 20px 2px lightgray;
}

.hover-shadow:active {
  box-shadow: 0 0 4px 2px gray;
}

.bordered {
  border: 1px solid black;
}

.bordered.hover-shadow:hover {
  border: 1px dotted black;
  box-shadow: 0 0 20px 2px lightgray;
}

.bordered.hover-shadow:active {
  border: 1px inset black;
  box-shadow: 0 0 4px 2px gray;
}

.disabled-button {
  cursor: initial;
  box-shadow: none;
}

.disabled-button:hover {
  box-shadow: none;
}

.disabled-button:active {
  box-shadow: none;
}

.button-border-bottom {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  border-bottom: 2px inset gray;
}

.button-border-top {
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
  border-top: 1px inset gray;
}

.button-border-left {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-right: 1px inset gray;
}

.button-border-right {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 1px inset gray;
}

.mobile-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-label {
  font-size: 12px;
  position: absolute;
  top: 30px;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.highlight-button-left {
  box-shadow: -10px 0px 20px 1px $secondaryColor;
}

.highlight-button-left:hover {
  box-shadow: -10px 0px 20px 1px $primaryColor;
}

.highlight-button-left:active {
  box-shadow: -4px 0 24px 1px $tertiaryColor;
}

.highlight-button-right {
  box-shadow: 10px 0px 20px 1px $secondaryColor;
}

.highlight-button-bottom {
  box-shadow: 0px 10px 20px 1px $secondaryColor;
}

.highlight-button-bottom:hover {
  box-shadow: 0px 10px 20px 1px $primaryColor;
}

.highlight-button-bottom:active {
  box-shadow: 0px 4px 24px 1px $tertiaryColor;
}

.highlight-button-right {
  box-shadow: 10px 0px 20px 1px $secondaryColor;
}

.highlight-button-right:hover {
  box-shadow: 10px 0px 20px 1px $primaryColor;
}

.highlight-button-right:active {
  box-shadow: 4px 0 24px 1px $tertiaryColor;
}

@media screen and (orientation: portrait) {
  .button-label {
    top: 20px;
  }
}

.left-label {
  margin-left: $small-spacing;
  left: 0;
}

.right-label {
  margin-right: $small-spacing;
  text-align: right;
  right: 0;
}
