@import './index.scss';

.button {
  box-sizing: border-box;
  cursor: pointer;
  outline-width: 0;
}

.hover-shadow {
  box-sizing: border-box;
  border: 1px solid black;
}

.hover-shadow:hover {
  border: 1px dotted black;
  box-shadow: 0 0 20px 2px lightgray;
}

.hover-shadow:active {
  border: 1px inset black;
  box-shadow: 0 0 4px 2px gray;
}

.borderless {
  border: 1px solid transparent;
}

.borderless:hover {
  border: 1px solid transparent;
}

.borderless:active {
  border: 1px solid transparent;
}

.disabled-button {
  cursor: initial;
  box-shadow: none;
}

.disabled-button:hover {
  box-shadow: none;
}

.disabled-button:active {
  box-shadow: none;
}

.mobile-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
