@import './index.scss';

.button {
  box-sizing: border-box;
  cursor: pointer;
  outline-width: 0;
}

.round {
  border-radius: 50%;
}

.round-shadow {
  box-sizing: border-box;
  border: 1px solid transparent;
}

.round-shadow:hover {
  border: 1px dotted black;
  box-shadow: 0 0 20px 2px lightgray;
}

.round-shadow:active {
  border: 1px inset black;
  box-shadow: 0 0 4px 2px gray;
}

.hover-shadow {
  box-sizing: border-box;
  border: 1px solid transparent;
}

.hover-shadow:hover {
  border: 1px dotted black;
  box-shadow: 0 0 20px 2px lightgray;
}

.hover-shadow:active {
  border: 1px inset black;
  box-shadow: 0 0 4px 2px gray;
}

.bordered {
  border: 1px solid black;
}

.disabled-button {
  cursor: initial;
  box-shadow: none;
}

.disabled-button:hover {
  box-shadow: none;
}

.disabled-button:active {
  box-shadow: none;
}

.button-border-bottom {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  border-bottom: 2px inset gray;
}

.button-border-top {
  border-left: 1px dotted black;
  border-bottom: 1px dotted black;
  border-top: 1px inset gray;
}

.button-border-left {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-right: 1px inset gray;
}

.button-border-right {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 1px inset gray;
}

.mobile-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
