$primaryColor: MEDIUMSLATEBLUE;
$secondaryColor: DODGERBLUE;
$tertiaryColor: HOTPINK;

$primaryIconColor: #4691f6;
$secondaryIconColor: #ff6e6e;

$LIGHTGRAY: WHITESMOKE;

$svg-primary-color: dodgerblue;
$svg-secondary-color: TOMATO;
$svg-dark-color: #0c0058;

$link-color: dodgerblue;
