$primaryColor: MEDIUMSLATEBLUE;
$secondaryColor: DODGERBLUE;
$tertiaryColor: HOTPINK; //RGB(255, 105, 180)

$primaryIconColor: #4691f6;
$secondaryIconColor: #ff6e6e;

$LIGHTGRAY: WHITESMOKE;
$DARKGRAY: GRAY;

$svg-primary-color: dodgerblue;
$svg-secondary-color: TOMATO;
$svg-dark-color: #0c0058;

$linkColor: dodgerblue;
