$sidebar-width: 400px;
$mini-spacing: 5px;
$tiny-spacing: 10px;
$small-spacing: 20px;
$medium-spacing: 40px;
$large-spacing: 80px;

$sidebar-button-width: 80px;

$first-column-width: 240px;

$controlBarHeight: 60px;
$infoHeaderHeight: 120px;
$infoHeaderHeightMobile: 80px;

$iconHeight: 20px;

$top-bar-height: 50px;
