@import './index.scss';

.information-box {
  padding: $small-spacing 0 $small-spacing 0;

  a {
    font-size: 13px;
    text-decoration: wavy underline;
    color: blue;
    z-index: 1;
  }

  a:hover {
    text-decoration: double underline;
  }
}

.info-title {
  color: gray;
  padding: 0 $small-spacing;
}

.info-section {
  padding: $small-spacing 0;
}

.info-row {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
}

@media screen and (orientation: portrait) {
  .information-box {
    padding: 0;
  }
  .info-section {
    padding-top: 0;
  }
}
