@import './index.scss';

.scroll-container {
  height: 100%;
  overflow-y: scroll;

  a {
    font-size: 13px;
    text-decoration: wavy underline;
    color: blue;
    z-index: 1;
  }

  a:hover {
    text-decoration: double underline;
  }
}

.info-section {
  height: 100%;
  padding: $small-spacing 0;
  padding-bottom: 0;
}

.card {
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 20px;
}

.info-card {
  padding-right: $medium-spacing;
}

@media screen and (orientation: portrait) {
  .info-section {
    padding-top: 0;
  }
}
