@import './SharedStyles/index.scss';

.sidebar-table {
  height: 100%;
}

.table-header {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $small-spacing;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-cell {
  padding-right: $small-spacing;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;

  i {
    height: 22px;
    width: 22px;
    padding-left: $tiny-spacing;
    min-width: 22px;
  }
}

.col0 {
  flex-shrink: 0;
  flex-grow: 0;
  width: 10px;
}

