@import './index.scss';

.underline {
  text-decoration: underline;
}

.text-well {
  box-sizing: border-box;
  padding: $small-spacing;
  padding-left: 60px;
  border-top: 1px inset black;
  border-bottom: 1px inset black;

  background: $LIGHTGRAY;
  margin: $tiny-spacing 0;
}
