@import './index.scss';

a,
p {
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: courier, helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline dashed;
  color: $linkColor;
  line-height: 200%;
}

li {
  list-style-type: square;
  margin: $small-spacing 0;
}

.text-hightlight {
  color: $tertiaryColor;
}

.sub-section-title {
  color: gray;
  padding: 0 $small-spacing;
}

.clipped-title {
  > * {
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.underline {
  text-decoration: underline;
}

.text-section-title {
  margin-bottom: $small-spacing;
}

.text-well {
  box-sizing: border-box;
  padding: $small-spacing;
  padding-left: 60px;
  background: $LIGHTGRAY;
  margin: $tiny-spacing 0;
}

.text-container {
  background: white;
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  padding: 0 $medium-spacing;

  p {
    font-size: 15px;
    line-height: 200%;
    padding: $tiny-spacing 0;
    text-align: justify;
    letter-spacing: 0.01px;
  }

  .source-box {
    font-size: 10px;
    white-space: nowrap;
    padding: $tiny-spacing 0;

    label {
      display: block;
      color: gray;
    }
  }
}

.value-text {
  border-radius: 10px;
  padding: 1px 3px;
  box-sizing: border-box;
}

.value-5 {
  background: #253494;
  border: 1px dotted white;
  color: white;
}
.value-4 {
  background: #2c7fb8;
  border: 1px dotted white;
  color: white;
}
.value-3 {
  background: #41b6c4;
  border: 1px dotted white;
  color: white;
}
.value-2 {
  background: #a1dab4;
  border: 1px dotted gray;
  color: black;
}
.value-1 {
  background: #ffffcc;
  border: 1px dotted gray;
  color: black;
}

.value-5-diverge {
  background: #005a32;
  border: 1px dotted white;
  color: white;
}
.value-4-diverge {
  background: #41ab5d;
  border: 1px dotted white;
  color: white;
}
.value-3-diverge {
  background: #d9f0a3;
  border: 1px dotted black;
  color: black;
}
.value-2-diverge {
  background: #fc8d59;
  border: 1px dotted gray;
  color: black;
}
.value-1-diverge {
  background: #d73027;
  border: 1px dotted white;
  color: white;
}

.value-blank {
  background: $LIGHTGRAY;
  border: 1px dotted black;
  color: black;
}

.text-content {
  box-sizing: border-box;

  .content-title {
    margin-bottom: $medium-spacing;
  }

  .content-body {
    margin-left: $medium-spacing;
  }

  p {
    font-family: 'Hind-Light';
    line-height: 250%;
    margin: $medium-spacing 0;
    text-align: justify;
    text-indent: $small-spacing;
  }

  h6 {
    text-align: center;
    margin: 10% 0;
  }

  margin: 0 auto;
  width: 500px;
}
