@import './SharedStyles/index.scss';
@import './SharedStyles/buttons.scss';
@import './SharedStyles/typography.scss';
@import './SharedStyles/layout.scss';
@import './SharedStyles/table.scss';

@font-face {
  font-family: 'Gandhi';
  font-style: normal;
  font-weight: 300;
  src: local('GandhiSans-Regular'), url('./SharedStyles/fonts/GandhiSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Caviar';
  font-style: normal;
  font-weight: 300;
  src: local('CaviarDreams'), url('./SharedStyles/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
  font-family: 'FreeSans';
  font-style: normal;
  font-weight: 300;
  src: local('FreeSans'), url('./SharedStyles/fonts/FreeSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: local('hind-regular'), url('./SharedStyles/fonts/hind-regular.otf') format('opentype');
}

body {
  background-color: white;
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline dashed;
  color: dodgerblue;
  line-height: 200%;
}

a:visited {
  color: inherit;
}

.hidden {
  display: none;
}

.hidden-svg {
  svg {
    display: none;
  }
}

/* For SVG icons */
/* http://svgicons.sparkk.fr/ */
.control-icon-container {
  height: 20px;
  width: 20px;
}

@media screen and (orientation: portrait) {
  .control-icon-container {
    height: 20px;
    width: 20px;
  }
}

.svg-icon {
  height: 100%;
  width: 100%;
}

.svg-icon-primary-color {
  fill: #4691f6;
}

.svg-icon-secondary-color {
  fill: #ff6e6e;
}

.svg-icon-dark-color {
  fill: #0c0058;
}

.svg-icon-primary-color circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-rotate-right {
  transform: rotate(90deg);
}

.svg-rotate-left {
  transform: rotate(-90deg);
}

.svg-flip {
  transform: rotate(180deg);
}
