@import './SharedStyles/index.scss';
@import './SharedStyles/buttons.scss';
@import './SharedStyles/typography.scss';
@import './SharedStyles/layout.scss';
@import './SharedStyles/table.scss';

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $tertiaryColor;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: local('hind-regular'), url('./SharedStyles/fonts/hind-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Hind-Light';
  font-style: normal;
  font-weight: 100;
  src: local('hind-light'), url('./SharedStyles/fonts/hind-light.otf') format('opentype');
}

body {
  background-color: white;
  font-family: 'Hind', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  border: none;
  padding: 0;
  outline: 0;
  font-family: 'Hind-Light';
}

.hidden {
  display: none;
}

.hidden-svg {
  svg {
    display: none;
  }
}

/* For SVG icons */
/* http://svgicons.sparkk.fr/ */
.control-icon-container {
  height: 20px;
  width: 20px;
}

@media screen and (orientation: portrait) {
  .control-icon-container {
    height: 20px;
    width: 20px;
  }
}

.svg-icon {
  height: 100%;
  width: 100%;
}

.svg-icon-primary-color {
  fill: $svg-primary-color;
}

.svg-line-primary-color {
  stroke: $svg-primary-color;
}

.svg-icon-secondary-color {
  fill: $svg-secondary-color;
}

.svg-line-secondary-color {
  stroke: $svg-secondary-color;
}

.svg-icon-dark-color {
  fill: $svg-dark-color;
}

.svg-line-dark-color {
  stroke: $svg-dark-color;
}

.svg-icon-tertiary-color {
  fill: $svg-tertiary-color;
}

.svg-line-tertiary-color {
  stroke: $svg-tertiary-color;
}

.svg-rotate-right {
  transform: rotate(90deg);
}

.svg-rotate-left {
  transform: rotate(-90deg);
}

.svg-flip {
  transform: rotate(180deg);
}
